<div class="bg">
    <img src="../../assets/contactus.jpg" id="bgphoto"/>
    <h4 class="col-auto">Contact Us</h4>
</div>
<div class="d-flex flex-wrap">
    <div class="col-10 col-md-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <i class="fa fa-map-marker-alt">  adress</i>
            <p>Cairo</p>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <i class="fa fa-mobile">  Phone</i>
            <p>0102334556</p>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <i class="fa fa-envelope">  Email</i>
            <p>Abcdd@gmail.com</p>
        </div>
    </div>
    <div class="col-md-6 ms-md-5">
        <h5>Leave a comment</h5>
        <p>Our Staff Will Call You Back And Answer Your Qestion.</p>
        <form class="row g-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingname" placeholder="Name">
                <label for="floatingname">Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="enter Your mail">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
              </div>
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary">Send Mesage</button>
            </div>
          </form>
    </div>
</div>