  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="margin: 20px;height: auto;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/carousel3.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../../assets/carousel.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../../assets/carousel2.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../../assets/carousel4.jpg" class="d-block w-100">
      </div>
    </div>
  </div>


      <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-5" *ngFor="
            let i of image">
              <div class="product-box">
                  <div class="product-thumb">
                      <div class="product-overlay" [style.background-image]="'url('+i.source+')'"></div>
                  </div>
                  <div class="product-caption">
                      <a href="#">product Name</a>
                      <div class="main-recipe">
                          <div class="main-recipe-name">product Discription</div>
                      </div>
                  </div>
              </div>
           </div>
        </div>
    </div>


  